*{
    font-family: 'Roboto', sans-serif;;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.select{
    width: 150px;
    height: 50px;
}

.input{
    width: 150px;
    height: 45px;
}

.header{
    display: flex;
    flex-direction: row;
}

.title{
    margin-right: 10px;
}
@media (min-width: 768px) {
    .title {
      max-width: 768px;
      margin-right: 250px;  
    }
  }
  
  @media (min-width: 1024px) {
    .title {
      max-width: 1024px;
      margin-right: 545px;
    }
  }

.flag{
   width: 40px; 
}

.rate{
    display: flex;
    align-items: center;
}

.label{
    align-items: center;
}